body{
background-color: rgb(163, 159, 159);
}
#parent {
    display: flex;
    gap: 3%;
    margin: 3%;
    height: 497px;
}
#box1 {
    border: 5px double black;
    margin-left: 2%;
    background-color: #deadab;
    width: 46%;
    padding-left: 1%;
    padding-top:13px;

}
#box2 {
    border: 5px double black;
    background-color: #deadab;
    width: 46%;
    padding-left: 1%;
}
#ok:hover{
    border-color:black ;
    color:black;
    background-color:rgb(255,131,74);
}
#box1 label {
    font-size: 23px;
}
#text1 {
    width: 95%;
    height: 6%;
    border:2px solid rgb(185, 181, 181)
}
#text2 {
    width: 95%;
    height: 6%;
    border:2px solid rgb(185, 181, 181)
}
button {
    color: white;
    background-color: rgb(153, 38, 0);
    border: 1px solid rgba(153, 38, 0);
    border-radius: 7%;
    height: 13%;
    width: 35%;
    margin: 5px;
    font-size: 30px;
    color: rgb(90,222,242);
}
#box2 span {
    font-size: 27px;
    margin-left: 34px;
}
#ok:hover::after{
    content: ">>";
    font-size: 25px;
}
button:hover{
    border:2px solid black;
}